.navBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../../images/NavBar.png');
  padding-bottom: 10px;
}

.logoNav {
  align-self: center;
}

.navBar_filters {
  display: flex;
  justify-content: space-around;
}
