.filter {
  display: flex;
  gap: 10px;
}

.filter_select select {
  color: black;
  cursor: pointer;
  width: auto;
  height: 25px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 750px) {
  .filter {
    flex-direction: column;
    margin-top: 8px;
  }
}
