.container_search {
  display: flex;
}

.search input {
  padding: 8px;
  width: 20rem;
  height: 24px;
  border-radius: 16px;
  outline: none;
  border: none;
  box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
  margin-bottom: 12px;
}

.search input::placeholder {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container_search button {
  border-radius: 5px;
  margin-top: 4px;
  border: none;
  height: 30px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

.container_search button img {
  height: 30px;
  width: auto;
}
