.landing_page {
  height: 100vh;
  background-image: url('../../../images/LadingPage.jpg');
  background-size: cover;
  background-position: center center;
}

.container_info {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.container_info p {
  color: white;
  background-color: rgba(128, 128, 128, 0.199);
  border-radius: 10px;
  width: 40%;
  font-size: xx-large;
  font-weight: bolder;
  margin: 0;
}

.container_logos {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-left: 50px;
}

.linkedin_logo {
  width: 115px;
  height: 120px;
}

.linkedin_logo:hover {
  transform: scale(1.1);
  transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.github_logo {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

.github_logo:hover {
  transform: scale(1.1);
  transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}
