.page_logo {
  width: 500px;
  height: 500px;
  cursor: pointer;
}

.page_logo:hover {
  transform: scale(1.1);
  transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

@media (max-width: 750px) {
  .page_logo {
    width: 350px;
    height: 250px;
  }
}
