.dog_details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('../../../images/patitas.gif');
  background-color: whitesmoke;
}

.dog_details_container {
  display: flex;
  width: 65%;
  height: 60%;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
}

.dog_details_img {
  width: 50%;
}

.dog_details_img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.dog_details_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dog_details_list h1 {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dog_details_list ul {
  list-style: none;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dog_details button {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 40px;
  width: 70px;
  border: none;
  border-radius: 5px;
  box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(9, 121, 176);
  color: white;
  font-weight: bolder;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dog_details button:hover {
  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.22);
  transform: scale(1.1);
  transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

@media (max-width: 750px) {
  .dog_details_container {
    flex-direction: column;
    height: 75%;
  }
  .dog_details_img {
    width: 100%;
  }
  .dog_details_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
