.create_dog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  background-image: url('../../../images/patitas.gif');
  background-color: whitesmoke;
}

.dog_form_container {
  width: 80%;
  margin-top: 5rem;
  margin-bottom: 40px;
  background-image: url('../../../images/CreateDog.jpg');
  background-size: cover;
  border: 2px solid black;
  border-radius: 20px;
}

.dog_form_container h1 {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dog_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.305);
  height: auto;
  border-radius: 20px;
  padding-top: 20px;
}

.dog_form label {
  font-weight: 500;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dog_form input {
  border: none;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dog_form input::placeholder {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mini_containers {
  padding: 25px;
}

.temperaments_container {
  color: white;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.temperaments_container button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: white;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.error {
  position: absolute;
  left: 35%;
  background-color: rgba(0, 0, 0, 0.66);
  width: fit-content;
  color: red;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.submit_button {
  color: white;
  font-weight: bolder;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 20px 0;
  padding: 20px;
  border: none;
  border-radius: 15px;
  box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(9, 121, 176);
}

.submit_button:hover {
  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.22);
  transform: scale(1.1);
  transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.button_back {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 40px;
  width: 70px;
  border: none;
  border-radius: 5px;
  box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(9, 121, 176);
  color: white;
  font-weight: bolder;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button_back:hover {
  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.22);
  transform: scale(1.1);
  transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}
