.filterButton {
  height: 40px;
  width: 70px;
  border: none;
  border-radius: 5px;
  box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
  cursor: pointer;
  text-decoration: none;
}

.filterButton img {
  height: 30px;
  width: 40px;
  cursor: pointer;
}

.filters_container {
  position: absolute;
  top: 320px;
  left: 100px;
  height: 190px;
  width: 350px;
  background: linear-gradient(to right, rgb(43, 161, 200), rgb(197, 226, 236));
  border-radius: 20px;
  box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
}
